.achievement {
    display: flex;
}

.achievement__col {
    width: 22%;
}

.achievement__info-col {
    width: 47%;
}

.achievement__img {
    vertical-align: top;
}

.achievement__img img {
    height: 84px;
    margin-bottom: 16px;
}

.achievement__text {
    @include font-text(12px, 24px, 500);
    color: #00519C;
}

.achievement__info {
    @include font-text(14px, 24px, 300);
    // max-width: 528px;
    color: #000000;
}