*,
*::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

.container {
    @include wrapper;
}

img {
    width: 100%;
    height: auto;
}

li {
    display: inline-block;
}

.row {
    margin-left: -15px;
    margin-right: -15px;
    display: flex;
    flex-wrap: wrap;
}

.col {
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
}