.markets {
    padding: 75px 0 110px 0;
}

.markets__inner {}

.markets__title {
    text-align: center;
    padding-bottom: 29px;
    color: #00519C;
}

.markets__info {
    @include font-text(14px, 24px, normal);
    color: #000000;
    max-width: 555px;
}

.markets__img {
    width: auto;
}

.markets__img img {
    display: block;
}