.news {
    padding-bottom: 65px;
}

.news__title {
    @include font-text(36px, 44px, 300);
    color: #00519C;
    text-align: center;
    padding-bottom: 23px;

}

.news__items {
    display: flex;

}

.news__col {
    width: 43%;
}

.news__item {
    margin-bottom: 15px;
    background: #EDF8FF;
    border-radius: 10px;
    padding: 30px 15px 53px 23px;
}

.news__item-title {
    @include font-text(22px, 24px, normal);
    padding-bottom: 16px;
    color: #00519C;
}

.news__item-text {
    @include font-text(14px, 24px, normal);
    color: #000000;
}


@media(max-width:1330px) {
    .news__item {}
}