.receipes {
    padding: 50px 0 72px 0;
    background: url("../../images/ice_bg\ \(1\).jpg") center (center/cover) no-repeat;
}

.receipes__title {
    @include font-text(36px,
    44px,
    300);
    text-align: center;
    padding-bottom: 34px;
    color: #00519C;
}

.receipes__items {
    display: flex;
}

.receipes__item {
    width: 47%;
    background: #FFFFFF;
    box-shadow: 0px 1px 5px rgba(0, 35, 126, 0.06);
    border-radius: 10px;
    margin-bottom: 44px;
}

.receipes__item-title {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */
    text-align: center;
    color: #00519C;
}

.receipes__item-box {
    padding: 18px 28px 28px;
}

.receipes__item-text {
    @include font-text(13px,
    24px,
    normal);
    font-weight: normal;
    font-size: 13px;
    line-height: 24px;
    text-align: center;
}

.receipes__item-title {
    @include font-text(16px,
    24px,
    600);
    padding-bottom: 13px;
    text-align: center;
    color: #00519C;
}

.receipes__item-text {
    @include font-text(13px,
    24px,
    300);
    text-align: center;
    color: #000000;
}